<!DOCTYPE html>
<html>
<head>
    <title>Staff Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h2>Welcome to the Staff Home Page!</h2>
    <p>You are logged in as Staff.</p>

    <!-- Link to add a new book -->
    <p><a href="{{ url_for('book_bp.add_book') }}">Add New Book</a></p>

    <!-- Link to manage existing books -->
    <p><a href="{{ url_for('book_bp.manage_books') }}">Manage Books</a></p>

    <br/>
    <p><a href="{{ url_for('analysis_bp.sales_analysis') }}">Sales Analysis</a></p>

    <p><a href="{{ url_for('delivery_bp.pending_deliveries') }}">View Pending Orders</a></p>


    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li>{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
</body>
</html>
